body{
  background-color: rgb(19, 19, 52);
  color: #fff;
}

.cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20 px;
}

.heading{
  text-align: center;
}

.subheading{
  text-align: center;
}